.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html, body {
    font-family: 'VT323', monospace;
    background-color: black;
    text-transform: uppercase;
    color: orange;
    line-height: 20pt;
    font-size: 14pt;
}

h1 {
    margin: 0px;
}

.box {
    float: left;
    height: 300px;
    width: 500px;
    border: 1px dashed orange;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

.box:hover {
    color: black;
    background-color: orange;
}

p {
    margin: 0;
}

#header {
    margin-bottom: 20px;
}