html, body {
    font-family: 'VT323', monospace;
    font-stretch: ultra-expanded;
    background-color: black;
    text-transform: uppercase;
    color: orange;
    line-height: 20pt;
    font-size: 14pt;
}

h1 {
    margin: 0px;
}

.box {
    float: left;
    height: 300px;
    width: 500px;
    border: 1px dashed orange;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

.box:hover {
    color: black;
    background-color: orange;
}

p {
    margin: 0;
}

#header {
    margin-bottom: 20px;
}